nav {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
  }
  