<!-- <form>
  <label for="userId">Kullanıcı Ara (username giriniz) </label><br>
  <input type="text" id="userId" [(ngModel)]="userId" name="userId">
  <button (click)="searchByUserId()">Ara</button>
</form> -->
<!-- 

<form class="custom-form">
  <label for="userId">Kullanıcı Ara (username giriniz)</label><br>
  <input type="text" id="userId" [(ngModel)]="userId" name="userId">
  <button (click)="searchByUserId()">Ara</button>
</form> -->



<form class="custom-form">
  <label for="userId">Kullanıcı Ara </label><br>
  <input type="text" id="userId" [(ngModel)]="userId" placeholder="username" name="userId">
  <button (click)="searchByUserId()">Ara</button>
</form>
